// Colors

$primary: ;

$secondary: ;

$tertiary: ;

$accent: ;

$black: ;

// $link: $tertiary;

// $hover: lighten($tertiary, 20%);

// // Typefaces

// $sans-serif: "Lato", sans-serif;

// $serif: "Roboto Slab", serif;

$li-padding: 5px;

$animation-delay: 0.7s;

//breakpoints

$mobile: 20em;
$small: 40.063em;
$medium: 47em;
$large: 75em;
$xlarge: 120.063em;