// Colors

$primary: #198a9c;

$secondary: #164056;

$tertiary: #39a7b8;

$accent: #79c5d5;

$black: #18293b;

$link: $tertiary;

$hover: lighten($tertiary, 20%);

// // Typefaces

$sans-serif: 'Montserrat', sans-serif;

$script: 'Permanent Marker', cursive;

$li-padding: 5px;

$animation-delay: 0.7s;

//breakpoints

$mobile: 20em;
$small: 40.063em;
$medium: 47em;
$large: 75em;
$xlarge: 120.063em;