/**
 * the sticky footer mixin
 **/
@mixin sticky-footer($footer-height, $wrapper-selector: unquote(".page-wrap"), $container-selector: unquote(".main-content"), $footer-selector: unquote(".site-footer")) {
    html, body {
        height: 100%;
    }

    body {
        margin: 0px;
        padding: 0px;
    }

    #{$wrapper-selector} {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin-bottom: -$footer-height;

        #{$container-selector} {
            padding: 0 0 $footer-height 0;
        }
    }

    #{$footer-selector} {
        height: $footer-height;
    }
}

/**
 * the sticky footer implementation
 **/
@include sticky-footer(auto);

footer {
    @include full;
   
   section {
    background: $secondary;
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
   } 

    article {
        margin: 3%;
        // max-width: 50%;
    }
    
    h1 {
        @include responsive-typography(24px, 28px);
        text-align: center;
    }

    .foot-book {
        display: flex;
        flex-direction:column;
        flex: 2;
        align-items:center;

        a {
            text-transform: uppercase;
            line-height: 0;
            @include responsive-typography(24px, 28px);
            &:hover {
                color: $hover;
            }
        }
    }
    
    .social {
        padding-top: 1.5%;
        max-width: 500px;
        text-transform: uppercase;
        line-height: 0;
        display: flex;
        justify-content: center;
        flex-wrap:wrap;

        img {
            margin: 5px;
            width: 150px;
            height: 150px;
            max-width: 100%;
        }
    }
    

    form {
        flex: 1;
        text-align: left;
    }

    fieldset {
        margin: 0;
    }
    
    input[type=text],
    input[type=email],
    textarea {
        background-color: rgba($accent,.15);

        &:focus {
            background-color: white;
        }
    }
    .button {
        @include button;
    }
}

