.about-us {
	@include full;

	.about-content {
		display: flex;
		flex-direction: column;
		@include breakpoint(medium) {
			flex-direction: row;
		}
		justify-content: space-between;
		max-width: 1280px;
		margin: 0 auto;
		padding: 5%;
		
		.about {
			flex:2;
			margin-right: 5%;

		figure {
			margin: 0;
			display: flex;
			justify-content: space-around;

			img {
				margin-right: 2%;
				max-width: 11.5%;
			}
		}
		
		}

		aside {
			// max-width: 25;
			// padding: 5%;
			flex:1;

			img {
				max-width: 7%;
				@include breakpoint(medium) {
					max-width: 75%;
				}
				height: auto;
			}
		}	
		h1 {
			color: $accent;
			font-family: $script;
			@include responsive-typography(24px, 38px, false);
		}
	}
}