// #contact {
// 	footer {
// 		form {
// 			display: none;
// 		}
// 	}
// }
.contact-form {
	@include full;

	.contact-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 1280px;
		margin: 0 auto;
		padding: 5%;
	article {
		max-width: 65%;
	}
	#rules {
		line-height: 0;
		margin-bottom: 0
	}
	strong {
		text-transform: uppercase;
	}
	}
	
	fieldset {
		border-radius: 30px;
	}
	.button {
		@include button;

		&:hover {
			background-color: rgba($primary, 10);
		}
	}
	footer {
		form {
			display: none;
		}
	}
}