.hero-unit {
	@include full;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 25%;
    min-height: 300px;
    height: 350px;

    @include breakpoint(large) {
        height: 450px;
    }
    h1 {
    	font-family: $script;
    	color: lighten($primary, 100%);
		position: absolute;
    	top: 350px;
    	left: 25px
    }
}

#contact-img {
		background-image: url(/img/house/house-at-dusk.jpg);
	}
