.home-intro::after {
	display: block;
	position: fixed;
}
.home-intro {
	height: 100vh;
	background-image: url(/img/surfing/looking_out_of_wave.jpg);
	background-size: cover;
	z-index: 2;
	display: flex;
	flex-flow: column;
	justify-content:center;
	position: relative;
	
}
.intro-text {
		color: $secondary;
		line-height: 0;
		position: relative;
	    display: inline-block;
	    text-align: center;
	    margin-bottom:-10px;
	    z-index: 1;

	    h1,
		h2 {
		font-family: $script;
		line-height: 1.25;
		margin-bottom: 0;
	}
	h1 {
		@include responsive-typography(88px, 108px);
	}
	h2 {
		@include responsive-typography(58px, 68px);
 }
}
#main-house,
#town,
#surfing {
	@include full;

	h1 {
		text-align: center;
		color: $primary;
		@include responsive-typography(24px, 38px);
		padding-top: 3%;
	}
	p {
		
	}
	.map {
		@include full;
	}
}
#book {
	
	@include full;
	background-color: $tertiary;
	min-height: 200px;
	text-align: center;
	
	article {
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:space-around;
		// max-width: 75%;
		// margin: 0 auto;
		padding: 3%;
	}
	
	h1 {
		color: white;
		font-family: $script;
	}
	.book {
		background-color: darken($primary, 5%); 
		border-radius: 25px;
		a {
			color: lighten($primary, 100%);
		}

	}
}
